# Zero to Hero

## 1.02  Carga del dataset desde la nube y operaciones básicas

Se muestra una alternativa a cargar el dataset directamente desde la nube, que funciona desde Kaggle, Google Colab
<br>
Si se está corriendo desde la PC local, siempre es preferible cargar el archivo del disco local.

In [2]:
library( "data.table")   #cargo la libreria  data.table

"https://storage.googleapis.com/labo2021/datasetsOri/paquete_premium_202011.csv" está en el repositorio de la asignatura

In [3]:
dataset <- fread( "https://storage.googleapis.com/labo2021/datasetsOri/paquete_premium_202011.csv")

Obviamente ahora el leer el archivo demora bastante, ya que se está bajando por internet, están viajando 117MB

### Ahora, algunas operaciones básicas con el dataset

cantidad de registros y columnas

In [4]:
nrow( dataset )
ncol( dataset )

[1] 238608

[1] 159

Otra forma de ver la cantidad de registros del dataset, al  *estilo data table*
<br>
El .N  es la cantidad de registros y va en la segunda poscion  dataset[ 1, 2, 3 ]

In [5]:
dataset[ , .N ]

[1] 238608

nombre de las columnas del dataset

Exploración de clase_ternaria.

In [6]:
dataset[ , .N, clase_ternaria]

  clase_ternaria N
1 CONTINUA       236866
2 BAJA+1            767
3 BAJA+2            975

###  varias formas de contar los BAJA+2

todas las formas dan el mismo resultado

In [ ]:
nrow(  dataset[ clase_ternaria=="BAJA+2" ])

In [7]:
dataset[ clase_ternaria=="BAJA+2", .N ] #el autentico estilo data.table

[1] 975

In [8]:
dataset[  , sum(clase_ternaria=="BAJA+2")]

[1] 975

### Conteo de proporcion de BAJA+2 en el dataset

In [9]:
dataset[  ,  sum(clase_ternaria=="BAJA+2")/.N]

[1] 0.0040862

Conteo de la proporcion de BAJA+2 en un predicado

In [10]:
dataset[ ctrx_quarter < 20  ,  sum(clase_ternaria=="BAJA+2")/.N]

[1] 0.02739508

### Ganancias del dataset

Agregado de la columna ganancia al dataset

Primero le asigno a TODOS los registros el valor de  -1250
<br>
la asignacion se hace con el  :=

In [ ]:
dataset[  , ganancia := -1250]

y finalmente a los  BAJA+2 les asigno 48750

In [ ]:
dataset[ clase_ternaria=="BAJA+2", ganancia := 48750]

Calculo la ganancia que tendria una campaña en donde envío estímulo a TODOS los clientes

In [ ]:
dataset[ , sum(ganancia)]

Se **pierden**  249.5 millones de pesos

### Ganancias de predicados univariados

Calculo la ganancia de un predicado simple
ctrx_quarter < 20

In [ ]:
dataset[ ctrx_quarter < 20,  sum( ganancia )  ]

Ahora  la ganancia de  *ctrx_quarter < 4 *

In [ ]:
dataset[ ctrx_quarter < 4,  sum( ganancia )  ]

Ahora, en forma brutal e ineficiente, busco donde esta el mejor corte de  ctrx_quarter
<br>
Ya resolveremos esto en forma inteligente más adelante

In [ ]:
for(  transacciones  in   0:20)
{
   cat(  transacciones, dataset[ ctrx_quarter < transacciones,  sum( ganancia )  ] , "\n")    
}

Observo que el predicado  ctrx_quarter < 9 tiene una ganancia de 4.5 millones de pesos

### Ganancias de predicado complejo

In [ ]:
dataset[ ctrx_quarter < 19 & mpasivos_margen < 29.8 ,  sum( ganancia )  ]

Enhorabuena ! hemos alcanzado los 7.45 M de ganancia

### gráficos de densidades

Visualización de la densidad de una variable versus clase_ternaria

In [ ]:
library("ggplot2") #cargo la libreria ggplot2

In [ ]:
campo <- "cliente_antiguedad" 
ggplot(dataset, aes_string(x = campo)) + geom_density(trim=TRUE, na.rm=TRUE) + facet_grid( "clase_ternaria~ .")

los gráficos salen muy pequeños, busco la documentacion https://blog.revolutionanalytics.com/2015/09/resizing-plots-in-the-r-kernel-for-jupyter-notebooks.html  y agrando los graficos

In [ ]:
options(repr.plot.width=15, repr.plot.height=15)

In [ ]:
campo <- "cliente_antiguedad" 
ggplot(dataset, aes_string(x = campo)) + geom_density(trim=TRUE, na.rm=TRUE) + facet_grid( "clase_ternaria~ .")